/* CSS */
.button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-item {
  padding: 15px;
}

.form{
  display: flex;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat',sans-serif;
}

.container, .news-container, .quiz-container, .lucky-container{
  background-color: #f8f8ff;
  border-style: solid;
  padding: 15px;
}

.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.quiz-container {
  padding: 50px;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.lucky-container {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
/* slider styles /////////////////////////////////////////////////*/
.vertical-center {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
}

.slider{
  max-width: 700px;
  border:10px solid #485DB8;
  margin: 20px auto;
  position: relative;
}
.slider .left-slide, .slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  top: 50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px; 
  transition: all .5s ease;
}
.slider .left-slide:hover, .slider .right-slide:hover{
  background-color: #485DB8;
  box-shadow: 0px 0px 0px black;
}
.slider .left-slide{
  left: 30px;
}
.slider .right-slide{
  right: 30px;
}

.slider .slider-items .item img{
  max-width: 100%;
  display: block;
}
.slider .slider-items .item {
  display: none;
  position: relative;
}
.slider .slider-items .item.active{
  display: block;
}