{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

    <form action="/index" method="post">
        <!--Show movies I've seen and recommended movies-->
        <div class="mb-3">
            <div class="container">
                <h2>Movies I've Seen</h2>
                <div class="slider">
                    <!--slider items-->
                    <div class="slider-items">
                        <!-- <div class="item-active">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Grumpy_Cat_%2814556024763%29_%28cropped%29.jpg" width="100%" height="100%">
                        </div> -->
                        {% for detail in details1 %}
                        <div class="item">
                            <img src="{{details1[loop.index0].url}}" width="100%" height="100%">
                        </div>
                        {% endfor %}
                    </div>
                    <!--slider controls-->
                    <div class="left-slide">&lt;</div>
                    <div class="right-slide">></div>
                </div>

                <h2>My Watchlist</h2>
                <div class="slider">
                    <!--slider items-->
                    <div class="slider-items">
                        <!-- <div class="item-active">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Grumpy_Cat_%2814556024763%29_%28cropped%29.jpg" width="100%" height="100%">
                        </div> -->
                        {% for detail in details2 %}
                        <div class="item">
                            <img src="{{details2[loop.index0].url}}" width="100%" height="100%">
                        </div>
                        {% endfor %}
                    </div>
                    <!--slider controls-->
                    <div class="left-slide">&lt;</div>
                    <div class="right-slide">></div>
                </div>
                </div>
            </div>

            <script>
                var slides=document.querySelector(".slider-items").children;
                var nextSlide=document.querySelector(".right-slide");
                var prevSlide=document.querySelector(".left-slide");
                var numSlides=slides.length;
                var index=0;

                slides[0].classList.add("active")

                nextSlide.onclick=function() {
                    next("next");
                }
                prevSlide.onclick=function() {
                    next("prev");
                }

                function next(direction){
                    //handle when user clicks next slide 
                    if (direction=="next"){
                        index++;
                        if (index==numSlides){    //handle when you reach end of slideshow
                            index=0;        //loop to beginning of slides 
                        }
                    }
                    //handle when user clicks previous slide
                    else {
                        if (index==0){      //handle when you reach the beginning of slideshow
                            index=numSlides-1;        //loop to end of slides
                        }
                        else{
                            index--;
                        }
                    }
                    //update active tag if slide is being shown to user
                    for(i=0; i<slides.length; i++){
                        slides[i].classList.remove("active");
                    }
                    slides[index].classList.add("active");
                    console.log("function works")
                }
            </script>
    </form>

{% endblock %}