{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

    <form action="/index" method="post">
        <!--Show movies I've seen and recommended movies-->
        <div class="mb-3">
            <h2>Movies I've Seen</h2>
            <table class = "table">
                <tr>
                    <th>heading 1</th>
                    <th>heading 2</th>
                    <th>heading 3</th>
                    <th>heading 4</th>
                    <th>heading 5</th>
                </tr>
                <tr>
                    <td>hello 1</td>
                    <td>hello 2</td>
                    <td>hello 3</td>
                    <td>hello 4</td>
                    <td>hello 5</td>
                </tr>
            </table>
            <h2>Recommended Movies</h2>
            <table class = "table">
                <tr>
                    <th>heading 1</th>
                    <th>heading 2</th>
                    <th>heading 3</th>
                    <th>heading 4</th>
                    <th>heading 5</th>
                </tr>
                <tr>
                    <td>hello 1</td>
                    <td>hello 2</td>
                    <td>hello 3</td>
                    <td>hello 4</td>
                    <td>hello 5</td>
                </tr>
            </table>
    </form>

{% endblock %}