{% extends "layout.html" %}

{% block title %}
    News
{% endblock %}

{% block main %}
    <form action="/news" method="post">
        <div class="container">
            {% for review in reviews %}
            <div class="flex-item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src={{review.image_url}} alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{review.headline}}</h5>
                    <p class="card-text">{{review.byline}}</p>
                    <p class="card-text">{{review.date}}</p>
                    <p class="card-text">{{review.summary}}</p>
                    <a href={{review.link}} class="button">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </form>
{% endblock %}