{% extends "layout.html" %}

{% block main %}
    <h2>Search by Title</h2>
    <form action="/search" method="post">
        <div class="input-group mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="movie_title" name="movie_title" placeholder="Movie Title" type="text">
            <div class="input-group-append">
                <button class="button" type="submit">Search movies</button>
            </div>
        </div>
        <br />
    <br />
    <div class="container">
        <h2>Advanced Search</h2>
        <br/>
        <p>Note: If searching by user rating, you must also include a director or a star.</p>
        <br/>
        <div class="row">
            <div class="col-sm">
                <h4>Director: </h4> 
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="director" name="director" placeholder="Director" type="text">
                <p>e.g. Steven Spielberg</p> 
            </div>
            <div class="col-sm">
                <h4>User rating: </h4>
                <input class="form-control mx-auto w-auto" id="from" name="from" placeholder="From" type="number" step="0.01">
                <input class="form-control mx-auto w-auto" id="to" name="to" placeholder="To" type="number" step="0.01">
            </div>
            <div class="col-sm">
                <h4>Starring </h4>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="starring" name="starring" placeholder="Starring" type="text">
                <p>e.g. Timothee Chalamet</p>
            </div>
        </div>
        <br/>
        <button class="button" type="submit">Search movies</button>
    </div>
    </form>
    

{% endblock %}